
<!DOCTYPE HTMl>
<html>
<head>
<title>Cape was not found</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="stylesheet" href="/css/style.css" type="text/css" media="all" />
<link href='//fonts.googleapis.com/css?family=Strait' rel='stylesheet' type='text/css'>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

</head>
<body>
<script src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'></script>

<body>

			<div class="wrap">
			<!---728x90--->

				<h1>Runescapecape</h1>
				<!-- <div class="banner"><img src="cape.jpg" alt="" /></div> -->
				<!---728x90--->

        <p>We did not know a {{capeId}} cape existed. <br>
          Contact us if you want to order a custom runescape cape!</p>
          
				<div class="search">

					<form>
						<input type="text"  value="" placeholder="Leave your message" />
						<input type="submit"" value="" />
					</form>
				</div>
				<!---728x90--->


			</div>

</body>
</html>
