
<!DOCTYPE HTMl>
<html>
<head>
<title>{{Runescapecapes}}</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="stylesheet" href="/css/style.css" type="text/css" media="all" />
<link href='//fonts.googleapis.com/css?family=Strait' rel='stylesheet' type='text/css'>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

</head>
<body>
<script src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'></script>
<script> console.log('test') </script>

<body>

			<div class="wrap">

				<h1><a href=/>Runescapecape</a></h1>

        <!-- <p>{{capes}}</p> autogen the following -->

  			<a href="/capes/cabbage">
    			<img alt="Cabbage Cape" src="https://vignette.wikia.nocookie.net/2007scape/images/5/5e/Cabbage_cape_detail.png/revision/latest/scale-to-width-down/100?cb=20160401160934" width="100" height="100">
  			</a>

  			<a href="/capes/max">
    			<img alt="Max Cape" src="https://vignette.wikia.nocookie.net/2007scape/images/5/51/Max_cape_detail.png/revision/latest/scale-to-width-down/155?cb=20170202215319" width="100" height="100">
  			</a>


			</div>

</body>
</html>
